version: '3'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: always

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Cấu hình mạng để Spark trong Docker và Laptop ngoài đều gọi được
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      # KAFKA_HEAP_OPTS: "-Xmx400M -Xms400M"
    restart: always

  # --- PHẦN QUAN TRỌNG ĐÃ SỬA ---
  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    user: root # Chạy quyền root để tránh lỗi permission
    # Lệnh này ép Master chạy nền
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "9090:8080" # Web UI
      - "7077:7077" # Cổng kết nối nội bộ
    environment:
      - SPARK_CONF_DIR=/opt/spark/conf
    restart: always

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    user: root
    depends_on:
      - spark-master
    # Lệnh này ép Worker chạy và kết nối tới Master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_CONF_DIR=/opt/spark/conf
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=512m
    restart: always

